 {
  /* länkfärg i header */
}

.navbar-light .navbar-nav .nav-link {
  color: black !important;
  font-weight: 400;
  font-family: "Source Code Pro", monospace;
  padding-right: 2rem !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(80, 80, 80) !important;
  font-weight: 400;
  font-family: "Source Code Pro", monospace;
  text-decoration: underline;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1020;
  background: white;
}
